body {
  font-family: 'BenchNine', sans-serif;
  color: black;
  font-weight: 300;
}

hr {
  color: gray;
}

.text-muted {
  color: #BCBBBBB;

}
.text-thin {
  font-weight: 100;

}


.title-super {
  font-size: 60px;
}

.title-logo {
  margin-top: 20px;
}

.title-margin {
  margin-top: 30px;
}
